
@font-face {
    font-family: NeueMachina;
    src: url('/assets/fonts/NeueMachina-Regular.otf');
}

.container{
    border-radius: 1rem;
    margin: 1rem;
    border: 2px solid white;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #000;
    color: #FFF;
}